@model IEnumerable<HotelBooking.Models.Rooms>

<h2>Капсули</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (var room in Model)
    {
        <tr>
            <td>@room.Name</td>
            <td>@room.Type</td>
            <td>@room.Price</td>
            <td>
                <a href="/Rooms/Details/@room.Id">Details</a>
                <a href="/Rooms/Book/@room.Id">Забронювати</a>
            </td>
        </tr>
    }
</table>