@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Capsule Hotel Constellation 89</h1>
    <p>CONSTELLATION - це про комфортне проживання за найкращою ціною.</p>
</div>
